version: '3.8'

networks:
  app-network:
    driver: bridge

services:
  nginx:
    image: nginx:stable-alpine
    container_name: nginx-proxy
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - './nginx.conf:/etc/nginx/nginx.conf'
      - '/etc/letsencrypt:/etc/letsencrypt' # Добавьте этот том для сертификатов
    depends_on:
      - backend
      - frontend
    networks:
      - app-network
    restart: unless-stopped

  backend:
    build:
      context: ./server
    container_name: backend-app
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    build:
      context: ./client
    container_name: frontend-app
    networks:
      - app-network
    restart: unless-stopped
