version: '3.8'  # Add version specifier

networks:
  dev:  # This defines the network
    driver: bridge

services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - './nginx.conf:/etc/nginx/nginx.conf'
    depends_on:
      - backend
      - frontend
    networks:
      - dev

  backend:
    build:
      context: ./server
    networks:
      - dev

  frontend:
    build:
      context: ./client
    networks:
      - dev