services:
  nginx:
    image: nginx:stable-alpine
    restart: unless-stopped # Add this line
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - './nginx.conf:/etc/nginx/nginx.conf'
    depends_on:
      - backend
      - frontend
    networks:
      - dev
