version: '3.8'

services:
  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - './nginx.conf:/etc/nginx/nginx.conf'
    depends_on:
      - backend
      - frontend
    networks:
      - dev

  backend:
    build:
      context: ./server
    container_name: backend
    ports:
      - '5000:5000' # Добавьте для отладки
    environment:
      - PORT=5000
      - NODE_ENV=production
    networks:
      - dev

  frontend:
    build:
      context: ./client
    container_name: frontend
    ports:
      - '5173:5173' # Добавьте для отладки
    environment:
      - VITE_API_URL=/api
    networks:
      - dev

networks:
  dev:
    driver: bridge
